@import url("//db.onlinewebfonts.com/c/0b7d8a39b62b28cf0cfe3cea90b8baa3?family=Gabriel+Weiss'+Friends+Font");

.font-class {
  font-family: "Gabriel Weiss' Friends Font" !important;
  text-decoration: none;
}

.my-name {
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;
  margin-top: 150px;
  color: rgb(255, 255, 255);
  font-size: 150px;
  letter-spacing: -10px;
}

.my-name-letter-1,
.my-name-letter-2,
.my-name-letter-3,
.my-name-letter-4,
.my-name-letter-5,
.my-name-letter-6,
.my-name-letter-7,
.my-name-letter-8 {
  animation: name-display-animation 1s ease-in-out 1s forwards;
  opacity: 0;
  font-size: 130px;
}

.my-name-letter-2 {
  animation-delay: 1.3s;
}
.my-name-letter-3 {
  animation-delay: 1.4s;
}
.my-name-letter-4 {
  animation-delay: 1.5s;
}
.my-name-letter-5 {
  animation-delay: 1.6s;
}
.my-name-letter-6 {
  animation-delay: 1.7s;
}
.my-name-letter-7 {
  animation-delay: 1.8s;
}
.domain {
  animation-delay: 5s;
  color: rgb(153, 150, 150);
  font-size: 40px;
  opacity: 0;
  margin-top: -50px;
  margin-left: 100px;
  margin-bottom: 300px;
  animation: domain-display-animation 2s ease-in-out 2s forwards;
}

@keyframes domain-display-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(50px);
  }
}

@keyframes name-display-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
  }
}

@media screen and (min-width: 340px) {
  .my-name {
    font-size: 10px !important;
    margin-bottom: 60px;
  }

  .domain {
    font-size: 10px;
    margin-top: -110px;
    margin-left: 0;
    /* letter-spacing: 0px; */
  }

  .my-name-letter-1,
.my-name-letter-2,
.my-name-letter-3,
.my-name-letter-4,
.my-name-letter-5,
.my-name-letter-6,
.my-name-letter-7,
.my-name-letter-8 {
  font-size: 20px;

  letter-spacing: 5px;
}
}

@media screen and (min-width: 412px) {
  /* .my-name {
    font-size: 10px !important;
  } */

  .domain {
    font-size: 10px;
    margin-top: -110px;
    margin-left: 0;
  }

  .my-name-letter-1,
.my-name-letter-2,
.my-name-letter-3,
.my-name-letter-4,
.my-name-letter-5,
.my-name-letter-6,
.my-name-letter-7,
.my-name-letter-8 {
  font-size: 40px;
  letter-spacing: 5px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .my-name {
    font-size: 70px !important;
  }

  .domain {
    font-size: 30px;
    margin-top: -110px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .my-name {
    font-size: 120px !important;
  }

  .domain {
    font-size: 30px;
    margin-top: -110px;
  }
  .my-name-letter-1,
  .my-name-letter-2,
  .my-name-letter-3,
  .my-name-letter-4,
  .my-name-letter-5,
  .my-name-letter-6,
  .my-name-letter-7,
  .my-name-letter-8 {
    font-size: 45px;
  
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 1101px){
  .my-name {
    font-size: 120px !important;
  }

  .domain {
    font-size: 30px;
    margin-top: -110px;
  }
  .my-name-letter-1,
  .my-name-letter-2,
  .my-name-letter-3,
  .my-name-letter-4,
  .my-name-letter-5,
  .my-name-letter-6,
  .my-name-letter-7,
  .my-name-letter-8 {
    font-size: 75px;
  
    letter-spacing: 5px;
  }
}
