@font-face {
  font-family: "Gabriel Weiss' Friends Font";
  src: url("./0b7d8a39b62b28cf0cfe3cea90b8baa3.woff2") format("woff2"),
       url("./0b7d8a39b62b28cf0cfe3cea90b8baa3.woff") format("woff"),
       url("./0b7d8a39b62b28cf0cfe3cea90b8baa3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}